* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  .wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .pad-50-0{
    padding: 50px 0;
  }
  